.header {
    background-color: cadetblue ;
    grid-area: header;
    text-align: center;
}

.main {
    display: grid;
    background-color:aquamarine;
    grid-area: main;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40% 30% 30%;
    grid-template-areas:
    "osnova osnova osnova osnova" 
    "first first second second"
    "third third third third";
    gap: 10px;
}

.block {
    grid-area: osnova;
    text-align: center;
}

.block_1 {
    grid-area: first;
    background-color: burlywood;
}

.block_2 {
    grid-area: second;
    background-color: burlywood;
}

.block_3 {
    grid-area: third;
    background-color: burlywood;
}

.aside {
    background-color: cadetblue;
    grid-area: aside;
}

.item1 {
    background-color: antiquewhite;
}

.item2 {
    background-color: antiquewhite;
}

.item3 {
    background-color: antiquewhite;
}

.item4 {
    background-color: antiquewhite;
}

@media screen and (min-width: 600px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: darkgrey;
        grid-area: footer;
        height: 20vh;
        grid-template-areas: "item1 item2 item3 item4";
        gap: 30px;
        padding: 30px;
    }

    .container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 10% 1fr 10%;
    height: 90vh;
    width: 100vw;
    grid-template-areas: 
    "header header header header"
    "main main main aside"
    "footer footer footer footer";
}
}

@media screen and (max-width: 399px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr;
        background-color: darkgrey;
        grid-area: footer;
        min-height: 100%;
        grid-template-areas: 
        "item1"
        "item2"
        "item3"
        "item4";
        gap: 30%;
        padding: 5%;
    }

    .container {
    display: grid;
    grid-template-columns: 1fr 30%;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
}

    .main {
    display: grid;
    background-color:aquamarine;
    grid-area: main;
    max-height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 40% 20% 20% 20%;
    grid-template-areas:
    "osnova " 
    "first"
    "second"
    "third";
    gap: 10px;
}
}

